body{
  font-family: 'Baloo Tammudu 2', cursive;
  position: relative;
}


label{
  color: #ffffff;

}
.container{
  max-width: 1200px;
  margin: 0 auto;
  display: inline-flex;
}
.container div{
  margin: 10px;
}
.container div label{
  cursor: pointer;
}
.container div label input[type="checkbox"]
{
  display: none;
}
.container div label span{
  position: relative;
  display: inline-flex;
  background: #b030b0;
  padding: 1px 15px;
  color: #f7f7f7;
  text-shadow: 0 1px 4px #f7f7f7;
  border-radius: 30px;
  font-size: 15px;
  transition: 0.5s;
  user-select: none;
  overflow: hidden;
}
.container div label span :before{
  content: '';
  position: absolute;
  background: #7952b3;
}
.container div label input[type="checkbox"]:checked ~ span
{
  background: #602080;
  text-shadow: #af0404;
}
.form{
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #dddddd;
  position: relative;
  margin: 10% 5px 10% 49%;
  padding: 10px 10px 10px;
}
video{
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
}
.header{
  text-align: center;
  padding: 10px 0 10px;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #dddddd;
}
.header-link{
  padding: 10px;
  margin: 10px 20px;
  text-decoration: none;
}
.header-link:hover{
  color: #3D84B8;
}
a{
  color: #f7f7f7;
}
.footer{
  text-align: center;
  padding: 10px 0 10px;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #dddddd;
}
.footer-link{
  padding: 10px;
  margin: 10px 20px;
  text-decoration: none;
}
.footer-link:hover{
  color: #3D84B8;
}
h1{
  color: white;
}
a{
color: white;
}
