body{
  background-color: #C6FFC1;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #4AA96C;
  border-width: 10px;
  width: 10%;
}
h1{
  color: #1EAE98;
}
h2{
  color: #1EAE98;
}
